<?xml version="1.0" encoding="utf-8" ?>
<routes>
<route url="/" module="Billet" action="preface" />
<route url="/commenter-([0-9]+)\.html" module="Comment" action="insertComment" vars="billet" />
<route url="/comment-signaler-([0-9]+)\.html" module="Comment" action="signalerComment" vars="id"/>
<route url="/billet-([0-9]+)\.html" module="Billet" action="show" vars="id" />
<route url="/billet.html" module="Billet" action="billet" />


</routes>