html{
	padding: 0;
	margin:0;
}
body{

}

#container{
	width:100%
	margin:0;

}
#titreBlog{
	padding:5%;
	text-align: center;
}
#wrap{
	text-align: justify;
}
#prefaceIndex{
	padding:10% 20%;
	text-align: justify;
}


#accueil{
	padding:5% 10%;
}
#descriptionAuteurAccueil{
	padding-top: 15%;
}
#show{
	padding:10% 20%;
}
h1, h2, h3{
	color:rgba(100,90,40,1);
}
#connexion{
	text-align: center;
}
#admin{
	text-align:justify;
	
}
#deconnexion{
	text-align: center;
}
#main{
	padding:5% 10%;

}