@font-face{
     font-family: "Anna-Regular";
     src: url("/fonts/Anna-Regular.ttf.ttf");

}
@font-face{
     font-family: "Amarillo";
     src: url("/fonts/amarillo/Amarillo.ttf");

}
@font-face{
     font-family: "Chopin";
     src: url("/fonts/chopin/ChopinScript.otf");

}
html{
	padding: 0;
	margin:0;
}
h2{
	color:rgba(90,70,40,1);


}
li{
	list-style-type: none;
}

#deconnexion{
	font-family: "Chopin";
}
a{
	color:rgba(60, 60,40,1);
}
#listeBillet .lireSuite{
	color: rgba(25, 90, 159, 1);
	font-weight: bold;
	font-size: 1.2em;
}
span a{
	color:#337ab7;
	font-weight: bold;
	font-family: 'Garaldes';
	font-size: 1.7em;
}
body{
	width:100%;
	background-color: rgba(0,0,0,1);
	font-family: 'Garaldes';
	font-size: 1.7em;
}
h1{
	color:white;
	font-size: 3em;
	font-family: "Amarillo";
}
h2{
	font-size: 3em;
	font-family: "Chopin";
}

h3{
	color:white;
	font-size: 2.5em;
	font-family: "Chopin";
}
button a{
	color: rgba(250,250,230,1);
}

.row{
	margin:auto;
}
.nav{
	margin:0;
	background-color: rgba(0,0,0,0.5);
}
#container{
	position:relative;
	width:100%;
	
	
}

#blocHeader{
	position:fixed;
	background-image: url(../images/alaska5.jpg);
	background-size: cover;
	height: 900px;
	width:100vw;

}
#navBarTop{
	z-index:150;
}
#blocHeader h1{
	margin-top: 10%;
}
#divScrollIndex{
	font-family: 'Amarillo';
	font-size:2em;
	position:relative;
	text-align:center;
	top:-50px;
	margin:auto;
}
.texteDoubleDown{
	color:rgb(255,255,255);
}
#doubleDown{
	font-size:3.5em;
	color:rgb(255,255,255);
}
#doubleDown:hover{
	color: rgba(240,240,240,1);
	font-size:4em;
	cursor:  pointer;
}
html body header #blocHeader #navBarTop .nav{
	z-index:200;
	border: 2px solid black;
	box-shadow: 2px 2px 2px rgba(250,250,230,0.2); 
	margin-bottom: 2%;
}
.nav{
	z-index:100;
}
.dropdown-menu li a{
	z-index: 150;
	font-size: 1.2em;
	padding: 10px 20px;
	color:rgba(250,250,230,1); 
}
.dropdown-menu li a:hover{
	background-color: #337ab7;
	color:rgba(250,250,230,1);
}
.btn-after-drop{
	text-align: left;
}
#navBarTop .nav li a:hover{
	background-color: rgba(40,70,150,0.8);
	color:rgba(250,250,230,1);
}
.nav .open a:hover:.dropdown-toggle{
	color:black;
}
.dropdown-menu{

	color:rgba(250,250,230,1); 
	background-color: rgba(0,0,0,0.8);
}
#navBarTopMini{
	display:none;
}
.burgerButtonEnd{
	display: none;
	z-index: 150;
}
.navBarTop{
	display: block;
}
.burgerListMini{
	display:flex;
	flex-direction: column;
}
#upNavBarTop{
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	}
#downNavBarTop{
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	display:none;
}
.bActive{
	background-color: rgba(255,255,255,0.7);
	color: rgba(0,0,0,1);
}
.bDefault{
	color: rgba(255,255,255,1);	
}
#titreBlog{
	padding:5%;
	text-align: center;
}
#wrap{
	text-align: justify;
	width:100%;
	
}
#prefaceIndex{
	padding:0% 15%;
	text-align: justify;
}


#billet{
	padding:5% 0%;
}
#texteIntro{
	padding:0% 15%;
}
#descriptionAuteurBillet h2{
	font-family: 'Chopin';
	font-size:2.5em;
	color: #337ab7;
}
.writeZone, .writeZoneMedia{
	padding:5% 7%;
	background: url(../images/paper4.png);
	background-size: cover;
	opacity:0.965;
	border-radius: 50px 2px;
	box-shadow: 8px 8px 12px rgba(250,250,230,0.2);
}
#show{
	padding:0% 20%;
}

#connexion{
	text-align: center;
}
#admin{
	text-align:justify;
	
}
#deconnexion{
	margin:20%;
	text-align: center;
	color:rgba(250,250,230,1);
	font-size:3em;
}
#main{
	position:relative;
	z-index:50;
	padding:5% 20%;
	background: url('../images/livre2.jpg') right fixed;
	background-size: cover;
	overflow: hidden;
}
.mainIndex{
	position:relative;
	top:900px;
	z-index:50;
	background-color: rgba(60,60,60,1);
	overflow: hidden;
}
.mainOther{
	position:relative;
	top:400px;
	z-index:50;
	background-color: rgba(60,60,60,1);
	overflow: hidden;
}

.pageForm{
	padding: 5% 20%;
	
}
.btn-default{
	background-color: rgba(250,250,230,1);
}
.btn-default:hover{
	background-color: #337ab7;
}
.btn{
	padding: 0;
	font-size: 1em;
}
.btn:hover{
	border-radius: 0;
}
footer{
	z-index:70;
	position:absolute;
	background: url('../images/alaska-vitre800.jpg');
	background-size: cover;
	width:100%; 
	height: 350px;
	overflow:hidden;
}
#footerIndex{
	bottom:-1200px;
}
#footerOther{
	bottom:-700px;
}

.texteAnnexe{
	font-weight:bold;
	color:rgba(60,60,40,1);
}

.glyphicon{
	line-height: 1.5;

}
.btnIcone a{
	color:rgba(250,250,230,1);
}
.btn-lg{
	padding: 6px 12px;
}
.mce-tinymce{
	z-index: 150;
}
.btn-envoyer{
	padding: 6px 12px;
}
.thead-color{
	background-color: rgba(0,0,0,0.2);
}

#blocFooter{
	padding:0;
	height: 100%;
}
.liensFooter{
	background-color: rgba(0,0,20,0.8);
	height:100%;
	padding:20px;
	color:rgba(255,255,230,1);

}
#menuFooter a, #menuFooter span{
	color: rgba(255,255,230,1);
}
#devFooter a{
	color: rgba(255,255,230,1);
}
#socialFooter{
	background-color: rgba(0,0,20,0.8);
	height: 60%;
	display: flex;
	padding: 20px;
	color:rgba(255,255,230,1);
}
.imgLiens{
	width: 50px;
	height:50px;
}
.cdisc{
	width: 50px;
	height:60px;
}
#liensSocial, #liensCommerceUnder{
	display: flex;
}

.liensFooter span, #devFooter span, #menuFooter span{
	text-decoration: underline;
}
#devFooter{

	background-color: rgba(0,0,20,0.8);
	
	color: rgba(255,255,230,1);
}
#photo{
	text-align: right;
	padding: 20px 20px;
}
#photoDev{
	position:absolute;
	top:70%;
	left: 50%;
	height:70px;
	border-radius: 20%;
}
#removeNavBarTop{
	display:block;
	position:fixed;
	top:30px;
	color: rgba(99, 96, 164, 0.82);
	width:10%;
	text-align:right;
	font-size: 2em;
	z-index:100;

}
@media (max-width:1200px) {
	#menuFooter{
		display:none;
	}
	#liensCommerce, #liensSocial{
		padding:5%;
	}
}

@media (max-width:990px){
	#liensCommerce{
		display: none;
	}
	#main{

		padding:5%;
	}
	#billet{
		padding:0%;
	} 
	.writeZoneMedia{
		background:none;
	}
	.writeZoneMediaSmall{
		padding:5% 7%;
		margin-bottom: 15%;
		background: url(../images/paper4.png);
		background-size: cover;
		border-radius: 50px 2px;
		box-shadow: 8px 8px 12px rgba(250,250,230,0.2);
	}
	#footerOther{
		bottom:-750px;
	}
	#footerIndex{
		bottom:-1250px;
	}

}

@media (max-width:768px) {
	#removeNavBarTop{
		display:none;
	}
	.burgerButton{
	display: block;
	color: rgba(250,250,230,1);
	background-color: rgba(0,0,0,0.3);
	border-color:  rgba(0,0,0,0);
	font-size: 3em;
	border-radius: 10px;
	position: relative;
	margin-top: 5px;
	left:85%;

	}
	#navBarTopMini{
		z-index:110;
		display: block;
		position: fixed;

	}
	#navBarTopMini ul li a{
		font-weight: bold;
		font-size: 1.3em;
	}
	.burgerListMini{
		display:none;
		position: fixed;
		flex-direction: column;
		max-width: 100vw;
		font-size:1em;
	}
	#navBarTop{
		display:none;
	}

	.burgerButtonEnd{
		display:none;
		z-index: 150;
		font-size:2em;
		background-color: rgba(0,0,0,0);
		color:rgba(250,250,230,1);
		border-color:  rgba(0,0,0,0);
		width:100%;
		text-align: center;
	}

	#billet{
	padding:2%;
	}
	#texteIntro{
		padding:2%;
	}
	.writeZone{
		padding:2%;
		
	}
	#show{
		padding:2%;
	}
	#main{
		padding: 5%;

	}
	
    .texteDoubleDown{
    	display: none;

    }
    #liensSocial, #liensCommerce{
    	z-index: 250;
    }

}
@media (max-width:500px) {
	.dateAjout, .dateModif{
		display:none;
	}
	.table tr td, #content-wrap .table tbody tr td .btn a .glyphicon{
		font-size:0.8em;
	}
	#content-wrap .table thead tr td, #content-wrap .table tbody tr td{
		padding: 3px;
	}
	#main{
		background-size: auto;
	}

}


